html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
input {
  width: 100%;
}
.top{
  background: darkseagreen;
  position:absolute;
  width:100%;
  z-index:1;
}
.col-6{  padding: 5px 0px;}
#map-canvas, #map_canvas {
  height: 100%;
  width: 100%;
}
.text-center {text-align: center;}


/*------------------------------------*\
    Botton Ribbon
\*------------------------------------*/
.infoBox {
  position:absolute;
  bottom: 40px;
  color:#fff;
  background:#F9A000;
  float:left;
  clear:both;
  padding:5px;
  text-shadow:0 -1px #F29D00, 0 1px #E79A00;
  -moz-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
  -webkit-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
  -o-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
  box-shadow:2px 2px 0 rgba(0,0,0,0.1);
}

/*------------------------------------*\
   Print media
\*------------------------------------*/
@media print {
  html, body {
    height: auto;
  }

  #map-canvas, #map_canvas {
    height: 650px;
  }
}

#panel {
  position: absolute;
  top: 5px;
  left: 30%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}
#panel2 {
  position: absolute;
  top: 5px;
  left: 65%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}